<div class="row">
  <div class="col-12 col-md-4" *ngFor="let user of users">
    <div class="card mb-3">
      <img
        [src]="getImage(user.id)"
        class="card-img-top"
        alt="{{ user.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">
          {{ user.company.catchPhrase }}
        </p>
        <a
          [routerLink]="'information/' + getURI(user.name) + '/' + user.id"
          class="btn btn-danger"
          >View Details</a
        >
      </div>
    </div>
  </div>
</div>
